html {
  scroll-behavior: smooth;
  background-image: url("estrellas.jpeg");
}

#nav {
	background: rgb(240, 240, 240);
	border: 5px;
	border-style: solid;
	border-color: #70BAAF;
	background-color: rgba(148, 215, 176, 0.6);
}

#portafolio{
	border: 5px;
	border-style: solid;
	border-color: #70A0BA;
	background-color: rgba(141, 215, 213, 0.6);
}

#services {
	border: 5px;
	border-style: solid;
	border-color: #707BBA;
	background-color: rgba(141, 180, 215, 0.6);
}

#contact {
	border: 5px;
	border-style: solid;
	border-color: #8A70BA;
	background-color: rgba(141, 143, 215, 0.6);
}

h1 {
	font-style: Roboto, sans-serif;
}

#copyright {
	color: white;
}

