html {
  scroll-behavior: smooth;
  background-image: url("estrellas.jpeg");
}

#nav {
	background: rgb(240, 240, 240);
	border: 5px;
	border-style: solid;
	border-color: #70BAAF;
	background-color: rgba(148, 215, 176, 0.6);
}

#portafolio{
	border: 5px;
	border-style: solid;
	border-color: #70A0BA;
	background-color: rgba(141, 215, 213, 0.6);
}

#services {
	border: 5px;
	border-style: solid;
	border-color: #707BBA;
	background-color: rgba(141, 180, 215, 0.6);
}

#contact {
	border: 5px;
	border-style: solid;
	border-color: #8A70BA;
	background-color: rgba(141, 143, 215, 0.6);
}

h1 {
	font-style: Roboto, sans-serif;
	color: white;
}

#copyright {
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #70BAAF;
}

button {
	background-color: #8A70BA;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

p {
	color: white;
}

h4 {
	color: white;
}

.pserv {
	font-style: italic;
}